/kafka08/kafka08-source/target/
/kafka08/kafka08-sink/target/
/kafka09/kafka09-source/target/
/kafka09/kafka09-sink/target/
/kafka10/kafka10-source/target/
/kafka10/kafka10-sink/target/
/kafka11/kafka11-source/target/
/kafka11/kafka11-sink/target/
/core/target/**
/console/console-sink/target/
/hbase/hbase-side/hbase-all-side/target/
/hbase/hbase-side/hbase-async-side/target/
/hbase/hbase-side/hbase-side-core/target/
/hbase/hbase-sink/target/
/launcher/target/
/mysql/mysql-sink/target/
/mysql/mysql-side/mysql-side-core/target/
/mysql/mysql-side/mysql-all-side/target/
/mysql/mysql-side/mysql-async-side/target/
/rdb/rdb-side//target/
/rdb/rdb-sink/target/
/redis5/redis5-sink/target/
/serversocket/serversocket-source/target/
/plugins/
/lib/
/.idea/
